In [1]:
import numpy as np
import pandas as pd

In [2]:
#Define function to calculate SN Ratio, like in Taguchi style experimentation.  
#This will be my output measure for the regression.  The "target" in Pycaret terms

def sn_ratio_calc(inputs):
    #Get numerators for the interactions
    num1,num2,num3 = np.log10(inputs[0]),np.log10(inputs[1]),np.log10(inputs[2])
    #Add some random noise to the numerators
    nums = np.add([num1,num2,num3],np.random.random(3))
    #Get the squared reciprocals of the inputs and call that the outputs
    #Adjacent terms interact with each other via the nums argument in the numerator.
    #There should be 3 two-way interactions.
    output = -10 * np.log10(nums[1]/inputs[0]**2 + nums[2]/inputs[1]**2 + nums[0]/inputs[2]**2)
    output = np.round(output,1)
    
    return(output)

In [3]:
#Take ranges and generate data for 3 different variables.

def gen_data(ranges,iterations,df):
    rep = iterations
    for i in range(rep):
    #Get the number of random ints to sum.
        Aint = np.random.randint(ranges[0][0],ranges[0][1])
        Bint = np.random.randint(ranges[1][0],ranges[1][1])
        Cint = np.random.randint(ranges[2][0],ranges[2][1])
        output = sn_ratio_calc([Aint,Bint,Cint])
        df['A'][i],df['B'][i],df['C'][i],df['output'][i] = Aint,Bint,Cint,output
    return(df)

In [4]:
ranges = [[20,80],[10,90],[30,70]]
iterations = 100 #the number of rows in the data file.
df = pd.DataFrame(np.empty((iterations, 4)),columns = ['A','B','C','output'])

In [13]:
df

       A     B     C  output
0   79.0  27.0  42.0    23.3
1   64.0  14.0  31.0    20.0
2   29.0  72.0  53.0    24.6
3   69.0  15.0  52.0    20.0
4   69.0  18.0  33.0    19.9
..   ...   ...   ...     ...
95  36.0  69.0  61.0    26.0
96  22.0  79.0  51.0    22.1
97  58.0  14.0  48.0    19.2
98  64.0  17.0  52.0    21.2
99  40.0  83.0  37.0    25.2

[100 rows x 4 columns]

In [12]:
df = gen_data(ranges,iterations,df)

In [14]:
df.to_csv('regdata2.csv')

In [12]:
-10 * np.log10( (np.log10(270) + 0.5)/79**2 + (np.log10(42) + 0.5)/27**2 + (np.log10(79) + 0.5)/42**2 )

23.240893688556877

In [11]:
np.log10( (1)/79**2 + (1)/27**2 + (1)/42**2 )

-2.67801523201499

In [35]:
x = round(-10 * np.log10( (np.log10(50) + 0.5)/50**2 + (np.log10(50) + 0.5)/50**2 + (np.log10(50) + 0.5)/50**2 ),1)

In [36]:
y = round(-10 * np.log10( (np.log10(50) + 0.5)/60**2 + (np.log10(50) + 0.5)/50**2 + (np.log10(50) + 0.5)/50**2 ),1)

In [37]:
print(np.log10(x),np.log10(y),100*(1-np.log10(x)/np.log10(y)))

1.41161970596323 1.4199557484897578 0.5870635430289872

In [33]:
.1/25.8

0.003875968992248062

In [38]:
np.log10(50)

1.6989700043360187